.SchoolWrapper{
    margin: 7%;
    padding: 2.5% 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
    margin: 2.5% auto;
    background-color: #cdac81;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 500ms;
}

.Date{
    margin-right: 20px;
}

.SchoolWrapper:hover{
    transition: 500ms;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.SchoolWrapper img{
    width: 20%;

}

.CategoryIcon{
    width: 44px;
    margin: 2.5%;
}

.School{
    display: flex;
}

.Skills{
    
    margin: 0 auto;
}

.Title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 0 auto 5% auto;
    border-width: 2px;
    border-style: none none solid none;
}


.Text {
    text-align: center;
    margin: 1rem auto;
    width: 65%;
    margin-bottom: 5%;

}
.Centered{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}