.Picture img{
    width: 20%;
}

.Background{
    position: relative;
    height: 100%; 
    text-align: center;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url('../assets/img/_DSC0267.jpg');
}

.Background h1{
    width: 50%;
    top: 5%; bottom: 0; left: 0; right: 0;
    margin: auto;
    position: absolute;
    height: 20%;
    color: white;
}