.Picture img{
    width: 20%;
}

.Background{
    position: relative;
    height: 100%; 
    text-align: center;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}


.Centered {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.Centered h1{
    font-size: 3rem;
    color: white;
    margin: 2% auto;
    transition-duration: 500ms;
}

.Centered h1:hover{
    transition-duration: 500ms;
    padding-bottom: 5%;
}

.Centered h2{
    font-size: 1.25rem;
    color: white;
    margin: 2% auto;
    transition-duration: 500ms;
}

.Centered h2:hover{
    padding-top: 5%;
    transition-duration: 500ms;
}