.Letter{
    display: inline-block;
    cursor: default;
}

.Animated{
    animation: popUp 0.7s ease-in;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



@keyframes popUp{
    0%{
        opacity: 1;
        transform: translateY(0px);
    }
    50%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}