.Letter{
    display: inline-block;
    transition-duration: 700ms;
    cursor:default;
}



.Animated{
    animation: popUp 5s;
}



.LetterHolder{
    overflow: visible;
    max-height: 70px;
}

@keyframes popUp{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
