.Footer{
    text-align: center;
    background-color: #cae4db;
    padding: 1% 5%;
    z-index: +999;
}

.Footer div{
    margin: 2em 0;
    font-size: 1em;
}


.FooterLinks a{
    margin: auto 10px;
    text-decoration: none;
    color: #cdac81;
    transition-duration: 500ms;
}

.FooterLinks a:hover{
    color: black;
    transition-duration: 500ms;
}

.SocialLinks a{
    padding: 0;
    margin: 0 10px;
}

.SocialLinks img{
    width: 3%;
    padding:0 ;
    border-radius: 25%;
    background-color: #cdac81;
    transition-duration: 500ms;
}

.SocialLinks img:hover{
    opacity: .5;
    transition-duration: 500ms;
}

@media only screen and (max-width: 1000px){
    .SocialLinks img{
        width: 27px;
    }
}